.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  max-height: 100px;
}

.footer-top {
  margin-left: 47px;
  margin-right: 48px;
  display: flex;
  flex-direction: row;
}

.yandex-in {
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-bottom {
  color: var(--COLOR_GRAY);
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 20px;
}

.country-link {
  color: var(--COLOR_BLACK);
  text-decoration: none;
  margin-left: 15px;
  margin-right: 14.5px;
}

.country-link:hover,
.footer-bottom a:hover {
  color: var(--COLOR_RED);
}

.country-link img {
  margin-right: 6px;
}

.footer-bottom a {
  margin-left: 16px;
  text-decoration: none;
  color: var(--COLOR_GRAY);
}

.copyright {
  margin-left: 16px;
}
