.header {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  font-weight: 400;
}

.lang {
  margin-right: 35px;
  height: 17px;
  font-size: var(--FONT_SIZE_SMALL);
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}

.login {
  background-image: url("../icons/login.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  height: 17px;
  font-size: var(--FONT_SIZE_DEFAULT);
}
