.header {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  background-color: aqua;
}

.lang {
  margin-right: 20px;
  background-color: chartreuse;
  height: 17px;
}

.login {
  background-color: darkgoldenrod;
  background-image: url("../icons/login.svg");
  background-repeat: no-repeat;
  padding-left: 30px;
  height: 17px;
}
