.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 401px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 122px;
}

.icon {
  font-size: 0.8em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  line-height: 140px;
  height: 80px;
  width: 80px;
  margin: 0px 10px;
}

.games {
  background-image: url("../icons/games.svg");
}

.images {
  background-image: url("../icons/images.svg");
}

.video {
  background-image: url("../icons/video.svg");
}

.mail {
  background-image: url("../icons/mail.svg");
}

.maps {
  background-image: url("../icons/maps.svg");
}

.appmetrica {
  background-image: url("../icons/appmetrica.svg");
}

.translate {
  background-image: url("../icons/transate.svg");
}

.browser {
  background-image: url("../icons/browser.svg");
}

.search {
  display: flex;
  flex-direction: row;
  margin-top: 57px;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(255, 204, 0);
  padding: 2px;
  margin-left: 20px;
}

.search-input {
  border: none;
  border-radius: 10px 6px 6px 10px;
  width: 50vw;
  background-image: url("../icons/keyboard.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.submit {
  border: none;
  background: none;
  width: 85px;
}
