.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 401px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 122px;
}

.icon {
  color: var(--COLOR_BLACK);
  text-decoration: none;
  font-size: var(--FONT_SIZE_DEFAULT);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  line-height: 137px;
  height: 80px;
  width: 80px;
  margin: 0px 10px;
}

.icon:hover {
  color: var(--COLOR_RED);
}

.games {
  background-image: url("../icons/games.svg");
}

.images {
  background-image: url("../icons/images.svg");
}

.video {
  background-image: url("../icons/video.svg");
}

.mail {
  background-image: url("../icons/mail.svg");
}

.maps {
  background-image: url("../icons/maps.svg");
}

.appmetrica {
  background-image: url("../icons/appmetrica.svg");
}

.translate {
  background-image: url("../icons/transate.svg");
}

.browser {
  background-image: url("../icons/browser.svg");
}

.logo {
  margin-top: -8px;
  width: 107px;
  height: 43px;
}

.search {
  display: flex;
  flex-direction: row;
  margin-top: 59px;
  margin-left: 96px;
}

.form {
  height: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: var(--COLOR_YELLOW);
  padding: 2px;
  margin-left: 19px;
  margin-right: 15px;
}

.search-input {
  border: none;
  border-radius: 8px 4px 4px 8px;
  width: 758px;
  background-image: url("../icons/keyboard.svg");
  background-repeat: no-repeat;
  background-position: right 11px top 10px;
  font-size: var(--FONT_SIZE_BIG);
}

.search-input:focus {
  outline: none;
  border: none;
}

.search-input::placeholder {
  font-size: var(--FONT_SIZE_BIG);
  padding-left: 9px;
}

.submit {
  border: none;
  background: none;
  width: 84px;
  font-size: var(--FONT_SIZE_BIG);
  padding-top: 0;
  padding-left: 9px;
}
